@import '../../../theme/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--base06);
  background-color: var(--base00);
  max-width: 977px;
  margin: 0px auto;
  --p-primary-color: var(--base0A);
}
