@import '../../../theme/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family:
    system-ui,
    -apple-system;
  font-size: 18px;
  color: var(--base06);
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 9px 0 #0008;
}

@media (prefers-color-scheme: dark) {
  .highlight {
    color: #ffffffaa;
  }
}

.key {
  margin: 3px;
  position: relative;
  display: inline-flex;
  width: fit-content;
  min-width: 37px;
  height: 37px;
  border-radius: 8px;
  background: linear-gradient(180deg, var(--base01), var(--base02));
  padding: 3px 4px 4px 4px;
  box-shadow:
    inset -8px 0 8px rgba(0, 0, 0, 0.25),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25),
    0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);

  &::before {
    content: attr(data-key);
    width: 100%;
    padding: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, var(--base01), var(--base03));
    border-radius: 8px;
    box-shadow:
      -10px -10px 10px rgba(255, 255, 255, 0.25),
      10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
  }
}
