@import '../../../theme/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family:
    system-ui,
    -apple-system;
  font-size: 18px;
  color: var(--base06);
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 9px 0 #0008;
}

@media (prefers-color-scheme: dark) {
  .highlight {
    color: #ffffffaa;
  }
}
